@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root{
    --cor-de-fundo:#F80496;
    --cor-do-texto:#02010E;
    --botao-inativo:rgba(255, 255, 255, 0.57);
    --verde:rgba(111, 255, 87, 1);
    --rosa:#D633DA;
    --botao-ativo:rgba(250, 0, 255, 0.5);
    --texto-fundo:rgba(111, 255, 87, 1);
    --branco:rgba(255, 255, 255, 1);
    --rosa:rgba(250, 0, 255, 1);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{
    color: var(--verde);
}
.botao{
    font-family: 'Chakra Petch, sans serif';
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
}