@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root{
    --cor-de-fundo:#F80496;
    --cor-do-texto:#02010E;
    --botao-inativo:rgba(58, 55, 94, 0.57);
    --verde:rgba(111, 255, 87, 1);
    --rosa:#D633DA;
    --botao-ativo:rgba(250, 0, 255, 0.5);
    --texto-fundo:rgba(111, 255, 87, 1);
    --branco:rgba(255, 255, 255, 1);
    --rosa:rgba(250, 0, 255, 1);
}

body{
    background-color: var(--cor-de-fundo);
}
